@using Microsoft.Extensions.Options
@using System.Globalization
@inject IOptions<RequestLocalizationOptions> options
@{
	string[] cultures = ["de", "en", "fr"];
	string? currentCulture = Context.Request.Cookies["lang"];
	IEnumerable<SelectListItem> items = cultures.Select(e => new SelectListItem() { Text = e, Value = e, Selected = e == currentCulture });
	string url = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<form asp-controller="Home" asp-action="SelectLanguage" asp-route-returnUrl="@url">
	Sprache: 
	<select asp-items="@items" name="code" onchange="this.form.submit();">
	</select>
</form>