@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<table class="table">
	<tr>
		<th>Test1</th>
		<th>Test2</th>
		<th>Test3</th>
		<th>Test4</th>
		<th>Test5</th>
	</tr>
	@for (int i = 0; i < 20; i++)
	{
		<tr>
			<td>Test1</td>
			<td>Test2</td>
			<td>Test3</td>
			<td>Test4</td>
			<td>Test5</td>
		</tr>
	}
</table>